// Specific CSS for your home-page
body {
  background-color: rgb(32,3,39);
}

#home {
  h5 {
    font: 2rem 'Poppins';
  }

  .card {
    width: 22rem;
  }
}

.banner {
  min-height: 50vh;
  h1 {
    margin: auto 0;
  }
}

@media (max-width: 762px) {
  .ml4 {
    font-size: 3rem;
  }

  .banner {
    min-height: 30vh;
  }

  #home {
    h5 {
      font: 1.5rem 'Poppins';
    }

    .card {
      width: 18rem;
    }
  }
}
