<div class="container" id="daily" style="margin-top: 35vh;">
  <div class="row justify-content-center align-items-center">
    <div class="col-4">
      <div class="card my-3 bg-dark text-light h-100 mx-auto">
        <div class="card-body">
          <h5 id="quote-title" class="card-title border-bottom pb-2"><%= @quote.title %></h5>
          <p id="quote-author" class="card-text text-muted"><%= @quote.author %></p>
        </div>
      </div>
    </div>
  </div>
</div>
