<div class="container" id="home">
  <div class="row justify-content-center align-items-center">
    <% @quotes.sample(8).each do |quote| %>
    <div class="col-lg-6 col-12 flex-fill my-4">
      <div class="card my-3 bg-dark text-light h-100 mx-auto">
        <div class="card-body">
          <h5 id="quote-title" class="card-title border-bottom pb-2"><%= quote.title %></h5>
          <p id="quote-author" class="card-text text-muted"><%= quote.author %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
