#quote-title {
  color: rgb(243,67,97);
  font-weight: 600;
  text-shadow: 1px 1px black;
}

// #quote-author {
//   color: rgb(4,86,164);
//   text-shadow: 1px 1px lightgrey;
// }

[data-daily] {
  display: none;
}
